# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=PrimeITServerDb

# MongoDB
MONGO_CONNECTION_STRING=mongodb+srv://your_user:your_password@cluster0.l6nnume.mongodb.net/?appName=Cluster0
MONGO_DATABASE_NAME=PrimeITResumesDb

# JWT
JWT_SECRET_KEY=your_very_long_and_secure_secret_key_here
JWT_ISSUER=Me
JWT_AUDIENCE=My Projects

# ElasticSearch
ELASTICSEARCH_URL=http://elasticsearch:9200
