# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=PrimeITServerDb

# MongoDB
MONGO_CONNECTION_STRING=mongodb://root:password@mongo:27017
MONGO_DATABASE_NAME=PrimeITResumesDb

# Redis
REDIS_URL=redis:6379

# JWT
JWT_SECRET_KEY=your_very_long_and_secure_secret_key_here
JWT_ISSUER=PrimeIT
JWT_AUDIENCE=PrimeIT_Users

# Search & Logs
ELASTICSEARCH_URL=http://elasticsearch:9200
SEQ_SERVER_URL=http://seq:5341

# AI
GROQ_API_KEY=your_groq_key_here
